/* general */

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

span {
  display: inline-block;
}

h2, h4, h6 {
  font-weight: bold;
}

p {
  font-size: 22px;
}

.background-lightgrey {
  background-color: #F3F5F9;
}
/* /general */

/* header structure */
/* nav structure */
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: white;
  width: 100%;
  height: 70px;
  line-height: 70px;
  border-bottom: 2px solid grey;
}

.ocean-logo {
  height: 30px;
}

nav ul {
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 15px;
}

nav li:last-child {
  margin-right: 0;
}

nav li a {
  color: black;
  font-size: 15px;
  vertical-align: middle;
  transition: color 0.5s;
}

nav li a:hover {
  color: #0061FF;
  text-decoration: none;
}

nav li a:visited {
  color: black;
}

nav li i {
  vertical-align: middle;
}

nav li .btn {
  border: 1px solid #0061FF;
  color: #0061FF;
  transition: background-color 0.5s, color 0.5s;
}

nav li .btn:hover {
  background-color: #0061FF;
  color: white;
}

nav .menu {
  color: #0061FF;
  background-color: white;
  font-size: 20px;
  vertical-align: middle;
  transition: color 0.5s, border-color 0.5s;
}

nav .menu:hover {
  color: #669cf2;
}

nav .menu:active {
  outline-width: 0;
}

nav .menu:focus-within {
  outline: none;
  border-color: #0061FF;
  color: #669cf2;
}
/* /nav structure */

/* jumbotron */
.jumbotron {
  background-image: url("../img/fish.svg");
  margin-top: 70px;
  margin-bottom: 0;
  padding: 60px 0;
  background-size: cover;
}

.jumbotron .title {
  color: white;
  padding-right: 40px;
}

.jumbotron h1 {
  font-size: 58px;
  padding-right: 20px;
  font-weight: bold;
}

.jumbotron .title p {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 0;
  color: lightgrey;
}

.jumbotron .sign {
  background-color: white;
  border-radius: 8px;
  text-align: center;
  padding: 20px;
}

.jumbotron .sign > h2:nth-child(2n) {
  color: #0061FF;
  margin-top: 0;
}

.jumbotron form {
  margin-top: 15px;
}

.jumbotron input {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  border: 0.5px solid lightgrey;
  padding: 10px 3px;
  margin-bottom: 10px;
}

.jumbotron input:focus-within {
  outline: none;
}

.jumbotron .btn {
  font-weight: bold;
}

.jumbotron button.btn {
  width: 100%;
  background-color: #669cf2;
  color: white;
  transition: background-color 0.5s;
}

.jumbotron button.btn:hover {
  background-color: #0061FF;
}

.jumbotron button.btn:focus-within {
  outline: none;
}

.jumbotron .btn-sign {
  width: 100%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  margin: 10px 0;
  color: #26364f;
  position: relative;
  transition: background-color 0.5s;
}

.jumbotron .btn-sign:hover {
  background-color: #e9edf5;
}

.jumbotron .g-logo {
  width: 18px;
  position: absolute;
  left: 5px;
  vertical-align: middle;
}

.jumbotron .sign p {
  font-size: 13px;
  margin-bottom: 10px;
}

.jumbotron .sign p a {
  text-decoration: underline;
  color: #0061FF;
  transition: color 0.5s;
}

.jumbotron .sign p a:hover {
  color: #669cf2;
}
/* /jumbotron */
/* .header structure */

/* section structure */
 section .img-box i, section .box i {
  font-size: 50px;
  vertical-align: middle;
  margin: 0 20px;
}

section a {
  color: #0061FF;
  font-size: 17px;
  transition: color 0.5s;
}

section a:hover {
  color: #669cf2;
  text-decoration: none;
}

section .blue-circle {
  font-size: 20px;
  color: #0061FF;
}

section .blue-circle button {
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #0061FF;
  box-shadow: none;
  outline: none;
}

section .blue-circle button.solid {
  background-color: #0061FF;
}
/* banner advertising */
#banner-advertising {

  padding: 30px 0;
}

#banner-advertising img {
  width: calc((100% / 6) - 25px);
  margin: 0 10px;
  vertical-align: middle;
}
/* /banner advertising */

/* seamlessly */
#seamlessly {
  padding-top: 40px;
  padding-bottom: 20px;
}

#seamlessly .row.text-left {
  padding: 40px 4%;
}

#seamlessly .menu li a span{
  color: #5a759e;
  border-left: 2px solid lightgrey;
  padding-left: 10px;
  line-height: 50px;
  font-size: 20px;
  transition: border-color 0.5s, color 0.5s;
}

#seamlessly .menu li a span:hover {
  border-left: 2px solid #0061FF;
  color: black;
}

#seamlessly .seamlessly-section {
  padding: 0;
  margin-bottom: 20px;
}

#seamlessly .seamlessly-section img {
  background-color: white;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
}

#seamlessly .seamlessly-section p {
  font-size: 15px;
}
/* /seamlessly */

/* Designed for developers */
#designed-for-developers {
  padding: 30px 0;
}

#designed-for-developers .img-box {
  margin-top: 40px;
}

#designed-for-developers figure {
  display: inline-block;
  vertical-align: middle;
  width: 60%;
}

#designed-for-developers img {
  width: 100%;
  transition: box-shadow 0.5s;
}

#designed-for-developers img:hover {
  box-shadow: 1px 1px 2px 1px lightgrey;
}

#designed-for-developers figcaption {
  margin-top: 20px;
  font-size: 16px;
}
/* /Designed for developers */

/* features */
#features {
  padding: 60px 0;
}

#features .row {
  margin-top: 40px;
  margin-bottom: 20px;
}

#features .row > [class*="col-"] {
  margin-bottom: 20px;
}

#features img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

#features p {
  font-size: 15px;
}
/* /features */

/* test speed */
#test-speed {
  background-image: url("../img/bg-map.svg");
  background-color: #0a3982;
  background-size: cover;
  color: white;
  padding: 40px 0;
}

#test-speed .line {
  margin-top: 10px;
  margin-bottom: 20px;
}

#test-speed .line > .row {
  border-bottom: 1px solid white;
  padding: 5px 0;
  margin: 0 5px;
}

#test-speed .line > .row:last-child {
  border-bottom: none;
}

#test-speed .line > .row .col-xs-3:last-child {
  text-align: right;
}

#test-speed a{
  font-size: 15px;
}
/* /test-speed */

/* Development */
#development {
  padding: 50px 0;
}

#development .img-box {
  background-color: white;
  width: 60%;
  margin: auto;
  margin-top: 40px;
  padding: 50px 5px;
  display: inline-block;
  vertical-align: middle;
  transition: box-shadow 0.5s;
}

#development .img-box:hover {
  box-shadow: 1px 1px 2px 1px lightgrey;
}

#development .img-box img {
  margin: 20px 0;
  width: 420px;
}

#development .img-box h5 {
  font-weight: bold;
  margin-bottom: 0;
}

#development .img-box .paragraph-h6{
  font-size: 15px;
  margin-bottom: 20px;
}

#development .blue-circle {
  margin-top: 20px;
}
/* /Development */

/* get started */
#get-started {
  background-image: url("../img/fish.svg");
  background-position: top;
  background-size: cover;
  color: white;
  padding: 40px 0;
}

#get-started .btn{
  background-color: white;
  margin: 10px 0;
  transition: background-color 0.5s, color 0.5s;
}

#get-started .btn:hover {
  background-color: #e9edf5;
}
/* /get started */

/* sm variation */
@media screen and (max-width: 991px) {

  #banner-advertising img {
    width: calc((100% / 2) - 72px);
    margin: 20px 35px;
  }

  #seamlessly .row.text-left,
  #seamlessly .menu  {
    padding-left: 0;
  }

  #seamlessly .row.text-left {
    padding-bottom: 15px;
  }

  #seamlessly .menu {
    margin-bottom: 20px;
  }

  #designed-for-developers figure {
    width: 78%;
  }

}

@media screen and (max-width: 768px) {

  #development .img-box img {
    width: 100%;
  }

}

/* md variation */
@media screen and (max-width: 1200px) {

  .vanish {
    display: none;
  }

  .jumbotron h1 {
    font-size: 48px;
    padding-right: 0;
  }

  #designed-for-developers figure {
    padding-bottom: 60px;
  }

}
